<headerComponent [navHeading]="navTitle" (updateNavTitleEvent)="updateNavTitle($event)" ></headerComponent>
<main>
    <ngb-alert [dismissible]="true">
        <strong>Warning!</strong> Angular Boostrap.
    </ngb-alert>

    <h3>Add Student</h3>
    <form #addStudentForm="ngForm" (ngSubmit)="addStudent(addStudentForm)">
        <input type="text" ngModel placeholder="Enter Your Name" name="studentName"><br><br>
        <input type="text" ngModel placeholder="Enter Stream" name="studentStream"><br><br>
        <input type="text" ngModel placeholder="Enter Address" name="studentAddress"><br><br>
        <button type="submit">Submit</button>
    </form>
    <hr>
    
    <h2>List of Students:</h2>
    <table [style.backgroundColor]="backgroundColour">
        <tr>
            <th>Name</th>
            <th>Stream</th>
            <th>Address</th>
        </tr>
        <tr *ngFor="let student of studentDetails">
            <td>{{student.name}}</td>
            <td>{{student.branch}}</td>
            <td>{{student.address}}</td>
            <td><button type="button">Edit</button></td>
            <td><button type="button" (click)="removeItem(student.name)">Remove</button></td>
        </tr>
    </table>
    <button (click)="changeStyle()">Change Background</button>
    <br><hr>
    <h3>If Else</h3>
    <h4>Are all CSE student? : </h4>
    <span *ngIf="areAllCSEStudent; then ifBlock else elseBlock"></span>
    <ng-template #ifBlock>
        <p>Yes</p>
    </ng-template>
    <ng-template #elseBlock>
        <p>No</p>
    </ng-template>
    <hr>
    <div [ngSwitch]="stream">
        <h2>No. of Students of {{stream}} Branch:</h2>
        <h3 *ngSwitchCase="'CSE'">120</h3>
        <h3 *ngSwitchCase="'IT'">100</h3>
        <h3 *ngSwitchCase="'CE'">120</h3>
        <h3 *ngSwitchCase="'EC'">100</h3>
        <h3 *ngSwitchCase="'EX'">110</h3>
        <h3 *ngSwitchDefault>50</h3>
    </div>
    <hr><br>
    <h2>Two Way Binding:</h2>
    <input type="text" [(ngModel)]="twoWayBindingVariableName" #inputBox>
    <h4>{{twoWayBindingVariableName}}</h4>
    <button (click)="showPropertyValue(inputBox.value)">GetInputUsingTemplateReferenceVariable</button>
    <br><br><hr>
    <h2>Pipes:</h2>
    <p>Pipe - {{ navTitle | uppercase}}</p>
    <p>Passing Parameters - {{ navTitle | slice : 3 : 6}}</p>
    <p>Using Multiple Pipes - {{ navTitle | slice : 3 : 6 | uppercase}}</p>
    <p>Object without JSON Pipe - {{ studentDetails }}</p>
    <p>Object with JSON Pipe - {{ studentDetails | json }}</p>
    <p>Currency Pipe - {{ 100 | currency:'INR' }}</p>
    <hr>
</main>