.navbar {
    display: flex;
    position: fixed;
    background-color: #1a1a1a;
    top: 0px;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.updateNavTitleDiv {
    padding-top: 80px;
}

#icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.heading {
    color: aliceblue;
}

.login {
    margin-right: 10px;
}

.addstudent {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.addstudentinput {
    height: 20px;
    margin-left: 20px;
}

table th, td {
    padding-left: 30px;
    padding-right: 30px;
}