<header>
    <nav class="navbar">
        <div class="icon">
            <img id="icon" src="./assets/clg_icon.png"/>
        </div>
        <div class="heading">
            <h2>Angular</h2>
        </div>
        <div class="login">
            <button class="log-in">Log In</button>
        </div>
    </nav>
    <h3>Add Student</h3>
    <div class="addstudent">
        <input type="text" #inputStudent [value]="inputBoxValue">
        <button type="button" class="addstudentinput" (click)="addStudent(inputStudent.value)">Add</button>
    </div>
    <h2>List of Students:</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Stream</th>
            <th>Address</th>
        </tr>
        <tr>
            <td>{{studentName}}</td>
            <td>CSE</td>
            <td>Indore</td>
            <td><button type="button">Edit</button></td>
            <td><button type="button">Remove</button></td>
        </tr>
    </table>
    <br><hr>
    <h3>If Else</h3>
    <h4>Are all CSE student? : </h4>
    <span *ngIf="true then ifBlock else elseBlock"></span>
    <ng-template #ifBlock>
        <p>Yes</p>
    </ng-template>
    <ng-template #elseBlock>
        <p>No</p>
    </ng-template>
</header>
